[Unit]
Description=A companion app for sway
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swaypanion
ExecReload=kill -SIGHUP $MAINPID
Restart=on-failure

[Install]
WantedBy=graphical-session.target